In [1]:
# Imports
import pandas as pd

    1) Develop a prediction model to classify the customers as good or bad;
    2) Cluster the customers into various groups;
    3) Provide some ideas on how frequent pattern mining could be utilized to uncover some patterns in the data and/or to enhance the classification;

In [9]:
data = pd.read_csv('./dataset/project_data.csv', delimiter=';')
data

,X01,X02,X03,X04,X05,X06,X07,X08,X09,X10,...,X12,X13,X14,X15,X16,X17,X18,X19,X20,Y
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1

### Steps
1. Rename columns names for explicit visual understanding of features

In [12]:
def rename_columns(dataframe: pd.DataFrame):
    target_columns = {
        'X01': 'account_status',
        'X06': 'account_savings',
        'X02': 'credit_duration',
        'X03': 'credit_history',
        'X04': 'credit_purpose',
        'X05': 'credit_amount',
        'X07': 'employment_status',
        'X17': 'employment_description',
        'X08': 'income_installment_rate',
        'X09': 'gender_status',
        'X10': 'credit_guarantors',
        'X11': 'residence',
        'X12': 'owned_property',
        'X13': 'age',
        'X14': 'installment_plans',
        'X15': 'accomondation_type',
        'X16': 'credit_existing_number',
        'X18': 'liable_maintain',
        'X19': 'phone_number',
        'X20': 'foreign_worker',
        'Y': 'y'
    }
    return dataframe.rename(columns=target_columns)

In [13]:
data_1 = rename_columns(data)
data_1

,account_status,credit_duration,credit_history,credit_purpose,credit_amount,account_savings,employment_status,income_installment_rate,gender_status,credit_guarantors,...,owned_property,age,installment_plans,accomondation_type,credit_existing_number,employment_description,liable_maintain,phone_number,foreign_worker,y
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1

In [25]:
# data_1['age'].mean()
data_1.groupby('age')['credit_amount'].describe()

,count,mean,std,min,25%,50%,75%,max
age,,,,,,,,
19,2.0,1481.500000,704.985461,983.0,1232.25,1481.5,1730.75,1980.0
20,14.0,2139.785714,1182.783951,585.0,1289.75,2003.0,2926.50,4675.0
21,14.0,3799.357143,4269.882625,886.0,1166.75,2278.5,3338.50,15653.0
22,27.0,2109.592593,1326.284900,276.0,1294.50,1808.0,2960.00,5951.0
23,48.0,2993.354167,3342.965434,392.0,1212.00,1890.5,3509.25,15672.0
24,44.0,3502.363636,2778.767253,433.0,1552.00,2268.5,5007.00,11590.0
25,41.0,3165.439024,2690.408771,685.0,1295.00,2327.0,3972.00,14421.0
26,50.0,2927.940000,2255.365018,590.0,1333.75,2424.5,4094.75,10974.0
27,51.0,3390.588235,2950.126392,343.0,1266.00,2463.0,3935.00,14027.0
28,43.0,2934.697674,2070.713410,484.0,1392.50,2603.0,3638.50,9572.0
29,37.0,3509.945946,2894.850178,518.0,1437.00,2629.0,3990.00,11816.0
30,40.0,3966.875000,3369.221261,639.0,1800.00,2291.0,5288.50,14179.0
31,38.0,3671.631579,2418.864704,929.0,1929.75,3002.5,4731.00,9857.0
32,34.0,3405.941176,3452.739667,629.0,1457.75,2595.0,4360.25,18424.0
33,33.0,2659.333333,1604.019671,727.0,1474.00,2235.0,3195.00,6403.0
34,32.0,3345.843750,2333.453223,1337.0,1840.75,2600.0,3874.25,11998.0
35,40.0,3216.950000,2431.434049,691.0,1457.75,2418.0,4019.75,10722.0
36,39.0,3105.333333,2418.394882,700.0,1373.00,2337.0,3978.50,12169.0
37,29.0,3763.344828,3276.039925,609.0,1402.00,3380.0,3878.00,12749.0
38,24.0,3392.416667,3322.753820,368.0,1148.75,2047.5,4363.25,12976.0
39,21.0,3535.285714,3431.154968,426.0,1188.00,2212.0,3398.00,11938.0
40,25.0,2995.520000,2176.444331,684.0,1361.00,1977.0,3939.00,7824.0
41,17.0,2722.411765,1985.486340,250.0,1244.00,2503.0,3868.00,6361.0
42,22.0,4211.318182,3107.504777,409.0,1649.25,3388.5,6089.25,10477.0
43,17.0,3481.941176,3572.533458,1203.0,1516.00,2442.0,4042.00,15857.0
44,17.0,4236.764706,3286.121166,760.0,1804.00,3384.0,5943.00,12579.0
45,15.0,4453.933333,3301.961505,339.0,2026.50,3527.0,7321.50,10875.0
46,18.0,2729.888889,2145.738482,697.0,1253.00,2048.0,3348.25,7629.0
47,17.0,3079.764706,3105.385252,731.0,1217.00,1984.0,3422.00,12612.0
48,12.0,3630.750000,3617.274894,1024.0,1276.00,1964.5,4560.75,12204.0
49,14.0,2527.785714,2220.010574,428.0,1100.50,1770.5,3084.00,8386.0
50,12.0,3085.416667,2141.270458,1047.0,1553.50,2315.5,4156.00,7476.0
51,8.0,3058.000000,2221.594408,682.0,1487.25,2699.5,3699.25,7511.0
52,9.0,2063.222222,1919.540816,338.0,717.00,2133.0,2315.00,6468.0
53,7.0,4770.428571,2814.445348,795.0,2629.50,4870.0,7302.00,7865.0
54,10.0,2661.000000,2104.635941,672.0,1340.75,1926.0,3438.75,7432.0
55,8.0,3239.750000,3082.318133,1190.0,1421.25,1579.0,3651.50,9283.0
56,3.0,2317.333333,2195.322603,618.0,1078.00,1538.0,3167.00,4796.0
57,9.0,3169.888889,4282.557572,709.0,1231.00,1264.0,2748.00,14318.0
58,5.0,5219.000000,6373.845150,385.0,1755.00,1867.0,6143.00,15945.0
59,3.0,4275.000000,2612.537272,1364.0,3204.50,5045.0,5730.50,6416.0
60,6.0,4777.833333,5248.831124,1199.0,1963.00,2139.0,5412.50,14782.0
61,7.0,1971.000000,716.301380,1239.0,1383.50,1953.0,2389.50,3059.0
62,2.0,2547.500000,1710.491304,1338.0,1942.75,2547.5,3152.25,3757.0
63,8.0,4753.125000,4405.728104,781.0,1621.25,2940.5,7026.00,13756.0
64,5.0,1948.400000,1204.071551,753.0,1364.00,1409.0,2384.00,3832.0
65,5.0,1718.600000,1215.303583,571.0,930.00,1098.0,2600.00,3394.0
66,5.0,1294.000000,499.553801,766.0,790.00,1480.0,1526.00,1908.0
67,3.0,2080.000000,1551.990013,1169.0,1184.00,1199.0,2535.50,3872.0
68,3.0,7610.666667,6899.848573,1175.0,3968.00,6761.0,10828.50,14896.0
70,1.0,7308.000000,NaN,7308.0,7308.00,7308.0,7308.00,7308.0
74,4.0,3600.500000,1684.539601,1299.0,2910.75,3987.0,4676.75,5129.0
75,2.0,3994.500000,3705.946640,1374.0,2684.25,3994.5,5304.75,6615.0