In [49]:
# Imports
from typing import List

import pandas as pd

This notebook will provide: 
 - data explonatory 
 - data insights
 - features selection 
 - transforming dataset into required format (for further modelS applies)

### TODO
- find empty columns 

### CAVEATS 
- Imbalanced target (700 vs 300)
- Odd mean loan of creditors age of > 65

In [3]:
row_data = pd.read_csv('./dataset/project_data.csv', delimiter=';')
row_data

,X01,X02,X03,X04,X05,X06,X07,X08,X09,X10,...,X12,X13,X14,X15,X16,X17,X18,X19,X20,Y
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1

### Steps
1. Rename columns names for explicit visual understanding of features

In [94]:

class Transformer:
    @staticmethod
    def rename_columns(dataset: pd.DataFrame):
        """Rename dataframe columns names.
        Notes:
            target column names based on provided data_description.txt
        Returns:
            pd.DataFrame - dataframe with renamed columns 
        """
    
        target_columns = {
            'X01': 'account_status',
            'X06': 'account_savings',
            'X02': 'credit_duration',
            'X03': 'credit_history',
            'X04': 'credit_purpose',
            'X05': 'credit_amount',
            'X07': 'employment_status',
            'X17': 'employment_description',
            'X08': 'income_installment_rate',
            'X09': 'gender_status',
            'X10': 'credit_guarantors',
            'X11': 'residence',
            'X12': 'owned_property',
            'X13': 'age',
            'X14': 'installment_plans',
            'X15': 'accomondation_type',
            'X16': 'credit_existing_number',
            'X18': 'liable_maintain',
            'X19': 'phone_number',
            'X20': 'foreign_worker',
            'Y': 'y'
        }
        return dataset.rename(columns=target_columns)    
    
    @staticmethod
    def categorical_columns(dataset: pd.DataFrame):
        """Within dataset find categorical columns
        
        Returns:
          List: list of names of categorical columns.
        """
        categorical_columns_indexes = []
        
        columns = dataset.columns
        num_columns = dataset._get_numeric_data().columns # get numerical columns
        
        categorical_columns = sorted(list(set(columns) - set(num_columns)))
        categorical_columns_indexes = [df.columns.get_loc(column) for column in categorical_columns]
        return categorical_columns, categorical_columns_indexes
        
    
    @staticmethod
    def cast_categorical_column(column: pd.Series):
        pass
    
    @staticmethod
    def train_test_split(dataset: pd.DataFrame, test_size: int, shuffle=False):
        from sklearn.model_selection import train_test_split
        print(f'Splitting dataset {dataset.shape} with test_size :{test_size}')
        X = dataset.drop(columns=['y'])
        y = dataset['y']
        X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=shuffle, test_size=test_size)
        print(f'X_train: {X_train.shape}')
        print(f'y_train: {y_train.shape}')
        print(f'X_test: {X_test.shape}')
        print(f'y_test: {y_test.shape}')
        return X_train, X_test, y_train, y_test

class Models:
    @staticmethod
    def _catboost_classifier(X_train, X_test, y_train, y_test, cat_features):
        """Apply Bare CatBoost Classifier.
        
        Notes:
          - cat_features: CatBoost model requires list of indexes which denote categorical columns;
        """
        
        from catboost import CatBoostClassifier, Pool
        from sklearn.metrics import accuracy_score
        
        train_data = Pool(
            data=X_train.values,
            label=y_train,
            cat_features=cat_features
        )
        model = CatBoostClassifier(iterations=30)
        model.fit(train_data)
        predictions = model.predict(X_test.values)
        accuracy = accuracy_score(y_test, predictions)
        return accuracy

## Entry Point

In [96]:
def benchmark(dataframe : pd.DataFrame, cat_features):
        """get benchmark on unpreprocessed dataset
        """
        X_train, X_test, y_train, y_test = transformer.train_test_split(df, test_size=.2, shuffle=True)
        accuracy_score = models._catboost_classifier(X_train,
                                                     X_test,
                                                     y_train,
                                                     y_test,
                                                     cat_features=categorical_columns_indexes
                                                    )
        
        print(f'Benchmark accuracy: {accuracy_score}')                                          
        return accuracy_score

    
transformer = Transformer()
models = Models()

df = transformer.rename_columns(row_data)
categorical_columns, categorical_columns_indexes = transformer.categorical_columns(df) 

benchmark(dataframe=df, cat_features=categorical_columns_indexes)

Splitting dataset (1000, 21) with test_size :0.2
X_train: (800, 20)
y_train: (800,)
X_test: (200, 20)
y_test: (200,)
Learning rate set to 0.233364
0:	learn: 0.6100866	total: 4ms	remaining: 116ms
1:	learn: 0.5646854	total: 8.24ms	remaining: 115ms
2:	learn: 0.5336285	total: 11.8ms	remaining: 106ms
3:	learn: 0.5159453	total: 15.2ms	remaining: 98.5ms
4:	learn: 0.5053846	total: 18.4ms	remaining: 92ms
5:	learn: 0.4840032	total: 22.1ms	remaining: 88.2ms
6:	learn: 0.4668805	total: 25.5ms	remaining: 83.7ms
7:	learn: 0.4603876	total: 29.7ms	remaining: 81.6ms
8:	learn: 0.4602078	total: 31.2ms	remaining: 72.8ms
9:	learn: 0.4549472	total: 35ms	remaining: 69.9ms
10:	learn: 0.4457978	total: 39.6ms	remaining: 68.5ms
11:	learn: 0.4420043	total: 43.7ms	remaining: 65.5ms
12:	learn: 0.4396352	total: 47.4ms	remaining: 62ms
13:	learn: 0.4341079	total: 50.4ms	remaining: 57.6ms
14:	learn: 0.4227924	total: 53.5ms	remaining: 53.5ms
15:	learn: 0.4205036	total: 56.4ms	remaining: 49.3ms
16:	learn: 0.4090772	total: 59.8ms	remaining: 45.8ms
17:	learn: 0.4017118	total: 62.8ms	remaining: 41.9ms
18:	learn: 0.3963223	total: 65.8ms	remaining: 38.1ms
19:	learn: 0.3895146	total: 68.3ms	remaining: 34.2ms
20:	learn: 0.3802230	total: 71.5ms	remaining: 30.6ms
21:	learn: 0.3706505	total: 74.3ms	remaining: 27ms
22:	learn: 0.3677269	total: 77ms	remaining: 23.4ms
23:	learn: 0.3659896	total: 79.5ms	remaining: 19.9ms
24:	learn: 0.3640123	total: 82.1ms	remaining: 16.4ms
25:	learn: 0.3566119	total: 85ms	remaining: 13.1ms
26:	learn: 0.3470973	total: 87.9ms	remaining: 9.76ms
27:	learn: 0.3414612	total: 90.6ms	remaining: 6.47ms
28:	learn: 0.3351580	total: 93.4ms	remaining: 3.22ms
29:	learn: 0.3253969	total: 96ms	remaining: 0us
Benchmark accuracy: 0.755

0.755